.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  color: var(--foreground-ondark);
  background-color: var(--background-brand-primary);
  border-radius: var(--shape-container-xs);
}

.home__content {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--layout-container-sm);
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
